.title {
    font-size: 36px;
    padding: 10px;
}

.page-title {
    border-bottom: 2px solid #cccccc;
    font-size: 28px;
    padding-bottom: 10px;
}

.contents {
    max-height: 70vh;
    overflow-y: auto;
    padding: 10px 40px;
}

.page-content {
    margin-top: 30px;
}

.group-field {
    margin-bottom: 50px;
}

.group-title {
    font-size: 20px;
}

.group-content {
    margin-top: 10px;
}

.inline {
    display: table;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cell {
    width: 50%;
    padding-right: 5%;
    display: table-cell;
}

.cell.large {
    width: 100%;
}

.cell.small {
    width: 30%;
    padding-right: 5%;
}

.radio-cell {
    margin-left: 10% !important;
    margin: auto;
}

.dash {
    padding: 5px;
    vertical-align: middle;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

select {
    height: 38px;
}

.inline-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.inline-btn>button {
    width: 40%;
    margin: auto;
}

div:has(.multiselector) {
    width: 100%;
}

.multiselector {
    border-radius: 0px;
}

.patientId[type=number]::-webkit-inner-spin-button,
.patientId[type=number]::-webkit-outer-spin-button,
.phoneNumber[type=number]::-webkit-inner-spin-button,
.phoneNumber[type=number]::-webkit-inner-spin-button,
.postalCode[type=number]::-webkit-inner-spin-button,
.postalCode[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.dateTimePicker {
    width: 100%;
    border-radius: 5px;
}