.hovering-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.hovering-wrapper.row {
    min-height: 25px;
    overflow: auto;
}

.hovering-wrapper.row::-webkit-scrollbar {
    display:none;
}

.card-adder.ver {
    margin: 0 10px;
    width: 5px;
    height: 100%;
    opacity: 0;
}

.hovering-wrapper.ver:hover > .card-adder.ver,
.hovering-wrapper.ver.fixed > .card-adder.ver {
    margin: 0 20px;
    border-right: solid 1px rgb(139, 139, 139);
    border-left: solid 1px rgb(139, 139, 139);
    opacity: 1;
    transition: all 0.15s linear;
}

.card-adder.row {
    margin: 10px 0;
    height: 5px;
    width: 100%;
    opacity: 0;
}

.hovering-wrapper:hover > .card-adder.row,
.hovering-wrapper.fixed > .card-adder.row {
    margin: 20px 0;
    height: 5px;
    border-top: solid 1px rgb(139, 139, 139);
    border-bottom: solid 1px rgb(139, 139, 139);
    opacity: 1;
    transition: all 0.15s linear;
}

.add-icon-wrapper {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    opacity: 0;
}

.add-icon {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    border: solid 1px rgb(139, 139, 139);
    background-color: white;
    text-align: center;
}

.hovering-wrapper:hover > .add-icon-wrapper,
.hovering-wrapper.fixed > .add-icon-wrapper
{
    opacity: 1;
}

.menu {
    width: 200px;
    display: flex;
    flex-direction: column;

    border: 2px solid rgb(187, 187, 187);
    border-radius: 10px;
}

div:has(.menu) {
    border-radius: 10px !important;
    background: #d4d4d4;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.menu-item:not(.menu-item:last-child) {
    border-bottom: 1px solid rgb(187, 187, 187);
}

.menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
    font-size: 14px;
}

.menu-item:hover {
    color: #2980b9;
}

@keyframes anvil {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

div:has(.menu) svg {
    color: rgb(187, 187, 187);
}

.cardSelection>a:focus-visible {
    outline: none;
}