.contents {
    display: flex;
}

.page-wrapper {
    background-color: #e2e2e2;
    max-width: calc(100% - 80px);
    width: 100vw;
    padding: 0px;
}

.patient-header {
    padding: 0;
}

.card-body {
    min-height: 100vh;
}